<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %>
  </head>
  <style>
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
  </style>
  <body>
    <% include partials/menu %>
    <div class="container body-content">
      <div class="jumbotron">
          <h1>NodeJS Express Port Exhaustion</h1>
          <p class="lead">This web site provide you a demo for test purpose only. It opens X number of connection to a given target.</p>
          <p><a href="../snatportexhaustion" class="btn btn-primary btn-lg">SNatPortExhaustion &raquo;</a></p>
          <b>Host Name:</b> <code class="highlighter-rouge"><%= hostname %></code>
          <br><b>User Agent: </b> <code class="highlighter-rouge"><%= useragent %></code>
          <br><b>Request received from:</b> <code class="highlighter-rouge"><%= ip %></code>
          <br><b>Forwarder IP: </b> <code class="highlighter-rouge"> <%= ipfw %></code>
          <br><b>Environment: </b> <code class="highlighter-rouge"> <%= environment %></code>
          <!-- <br><b>RawHeaders: </b> <code class="highlighter-rouge"> <%= rawheaders %></code> -->
          <!-- <br><b>Headers: </b> <code class="highlighter-rouge"> <%= headers %></code> -->
          <br><b>Headers: </b> <code class="highlighter-rouge"> <div class="" id="rawheadersRefresh"></div></code>
          <script type="text/javascript">
            var headers = <%- headers %>;
            function output(inp) {
                var rawheadersRefreshelement = document.getElementById("rawheadersRefresh");
                var divrawheaers = document.createElement("div");
                var preelement = document.createElement('pre');
                divrawheaers.innerHTML = inp;
                preelement.innerHTML = inp;
                rawheadersRefreshelement.appendChild(preelement);
            }
            function syntaxHighlight(json) {
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }

            var str = JSON.stringify(headers, undefined, 4);
            $('#rawheadersRefresh').html(output(syntaxHighlight(str)));
            //output(str);
            //output(syntaxHighlight(str));
          </script>
      </div>
      <% include partials/footer %>
    </div>
  </body>
</html>